<div class=" bg-dark text-light text-center p-3">
  <h1>Rate your quote</h1>
  <p>Qoute of the day : "Inspire to be inspired"</p>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<div *ngFor="let qoute of quotes;let i = index" class="quote">
    
    <div class="card mb-3 mt-3 p-3  text-center text-dark quote"  [ngStyle]="{background: 'url(assets/img/painted-watercolor.jpg)'}">
        <p>{{qoute.postedquote}}</p>
        <em>Author: {{qoute.author}}</em>
        <app-quotedetails *ngIf='qoute.showdetails' [quote]="qoute" (todeletequote)='deleteoneproject($event,i)'></app-quotedetails>
        <app-vote></app-vote><small>
            <button class="btn btn-outline-primary" (click)="showform(i)" type="submit">showdetails</button></small>
          
    </div>
</div>
